.firstArrow,
.secondArrow {
    width: 22px;
    height: 22px;
}

.unerlineLInk:hover .firstArrow {
    transform: translateY(-22px);
}


.unerlineLInk:hover .secondArrow {
    transform: translateY(-22px);
}