.thisisimageaboutwhitesuide {
    display: flex;
    width: min(1200px, 100%);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    flex-direction: row-reverse;
}


.thisisimageaboutwhitesuide img {
    width: 350px !important;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: -20px 20px rgba(0, 0, 0, .15) !important;
    transition: all .4s ease;
}

.thisisimageaboutwhitesuide img:hover {
    box-shadow: 10px 10px rgba(0, 0, 0, .25) !important;
}

.paraone {
    width: min(90%, 573px) !important;
    font-size: 19px;
    padding: 10px 0;
}

.paragraph-text-aboutus {
    font-size: 20px;
    margin-bottom: 15px;
    color: #7c7d7d;
}

.directeor {
    font-size: 30px;
    margin-bottom: 15px;
}

.directeor span {
    color: #1c72b8;
}

.Abdullaksdf {
    color: black !important;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Domine', serif !important;
    word-spacing: 5px;
}

/* best comany component */

.best-paragraph {
    padding: 0 70px;
    text-align: center;
    margin-bottom: 95px;
}

.main-div-best {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.singlegrid-best img {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -76px;
    border: #1c72b8 5px solid;
}


@media screen and (max-width:846px) {
    .thisisimageaboutwhitesuide {
        flex-direction: column;
    }

    .paraone {
        text-align: center;
    }
    .paragraph-text-aboutus{
        font-size: 18px;
    }
}