@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container {
        width: 100%;
        padding: 0 7rem;
        max-width: 100%;
    }

    /* ... */
}

/* this is all global css */
@font-face {
    font-family: POLYA;
    src: url("../fonts/POLYA.otf") format("opentype");
}

@font-face {
    font-family: 'TisaOT';
    src: url("../fonts/TisaOT.woff2") format('woff2');
}

@font-face {
    font-family: 'EurostileExt';
    src: url("../fonts/eurostileext-reg-webfont.woff2") format('woff2');
}

@font-face {
    font-family: 'AkkuratLight';
    src: url("../fonts/Akkurat-Light.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AkkuratBold';
    src: url("../fonts/Akkurat-Bold.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: SuisseIntl;
    src: url('../fonts/SuisseIntl-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: SuisseIntl;
    src: url('../fonts/SuisseIntl-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: SuisseIntl;
    src: url('../fonts/SuisseIntl-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: SuisseIntl;
    src: url('../fonts/SuisseIntl-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: SuisseIntl;
    src: url('../fonts/SuisseIntl-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

.font-TisaOT {
    font-family: 'TisaOT' !important;
}

.font-Euro {
    font-family: 'EurostileExt' !important;
}

.font-AkkuratLight {
    font-family: 'AkkuratLight' !important;
}

.font-SuisseIntl {
    font-family: 'SuisseIntl' !important;
}

.font-POLYA {
    font-family: POLYA !important;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */
}

html *,
body * {
    cursor: none;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    /* font-family: SuisseIntl; */
}


h1,
.primary_heading {
    font-family: 'TisaOT';
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.1;
    font-size: 76px;
}

h2,
.secondary_heading {
    font-family: 'TisaOT';
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 1.1;
    font-size: 56px;
}

h3,
.heading_three {
    font-size: 50px;
    font-family: 'TisaOT' !important;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

h4 {
    font-size: 28px;
    font-family: 'TisaOT' !important;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

h5 {
    font-size: 35px;
    /* font-family: 'SuisseIntl' !important; */
    font-family: 'EurostileExt' !important;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    color: #1c72b8;
}

h6 {
    font-size: 25px;
    font-family: 'TisaOT' !important;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
}

a {
    font-family: 'SuisseIntl';
    font-weight: 500;
    color: inherit;
    font-size: 18px;
    text-decoration: none;
}

.unerlineLInk {
    padding-right: 30px;
}

text,
textarea {
    font-weight: 500;
}


p,
.paragraph {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    font-family: 'SuisseIntl';
}

/* using in menu  */

.secondary-btn {
    padding: 9px 12px 9px;
    line-height: 1;
    margin: 5px;
    background: #fff;
    cursor: pointer;
    border-radius: 20px;
    font-size: .8rem;
    color: #1c72b8;
    font-family: 'AkkuratLight';
    text-transform: uppercase;
    border: 1px solid #1c72b8;
    padding-top: 10px;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.secondary-btn:hover {
    background: #1c72b8;
    color: #fff;
    border: 1px solid #fff;
}

.primary-btn {
    line-height: 1;
    padding: 9px 12px 9px;
    margin: 5px;
    text-transform: uppercase;
    font-family: 'AkkuratLight';
    background: #1c72b8;
    cursor: pointer;
    border-radius: 20px;
    font-size: .8rem;
    color: #fff;
    border: 1px solid #1c72b8;
    padding-top: 10px;
}

.ani-block {
    animation: blocknone 1s linear;
    display: block;
}

.bg-gradiant {
    background: linear-gradient(to bottom right, #0f1012, #181b90);
}

.bg-aboutBoxPattern {
    background-image: url('../Images/aboutBoxPattern.svg');
}

.innerServices {
    padding: 50px 0;
    border-bottom: 1px solid #1c72b8;
    display: grid;
    grid-template-columns: 1fr 6fr;
}

@keyframes blocknone {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.ani-none {
    animation: nonenone 1s linear;
    display: none;
}

@keyframes nonenone {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.message {
    display: flex;
    width: fit-content;
    height: fit-content;
    color: #fff;
    border: 1px solid #1c72b8;
    border-radius: 40px;
    background: #1c72b8;
    font-weight: lighter;
    float: left;
    border-top-left-radius: 0;
    font-size: .905rem;
    padding: 10px 15px 8px;
}

.stylishfont {
    font-family: POLYA !important;
    font-size: 140px;
    font-weight: 100;
    color: #1c72b8;
    opacity: 0.5;
}


.currenturl {
    color: #1c72b8;
    font-size: 14px;
    margin-right: 3px;
}

@media screen and (max-width:1082px) {
    .stylishfont {
        font-size: 12vw;
    }
}

/* hero banner */
.headingHolo {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    opacity: 1;
}

.headingBCClip {
    font-style: normal;
    text-transform: capitalize;
    /* background: linear-gradient(180deg, #EBC6E6 0%, #6663A2 100%); */
    /* background-clip: text; */
    background: radial-gradient(#EBC6E6,
            #6663A2) fixed;
    background: conic-gradient(#EBC6E6,
            #6663A2,
            #EBC6E6) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.ArrowScroll {
    font-size: 40px;
    font-weight: 400;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
}

.upArrowScroll,
.downArrowScroll {
    display: flex;
    padding: 14px;
    position: relative;
    transform: translateY(-70px);
    transition: 0.3s all;
}

.ArrowScroll:hover .upArrowScroll,
.ArrowScroll:hover .downArrowScroll {
    transform: translateY(0px);
}

.bannerGrid {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 50px;
}