.btn-btn {
    background-color: #1c72b8;
    color: white;
    border-radius: 30px;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 100;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif !important;
    cursor: pointer;
}

.btn-btn:hover {
    background-color: white;
    color: #1c72b8;
}

.ul-btntbn {
    list-style-type: none;
    display: flex;
    gap: 14px;
    border-top: 1px solid black;
    padding-top: 10px;
}
#tsparticles canvas{
    transition: all 1s;
}


@media screen and (max-width:756px) {
    .font-hero {
        font-size: 18px;
    }

    .hero-hero h2 {
        font-size: 9vw;
    }

    .main-hero-btn {
        position: relative;
        right: -23px;
        top: 18px;
    }
}