/* this is all global css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Domine', serif;
}

a,
p,
span,li {
    font-family: 'Oswald', sans-serif;
}

.m-0 {
    margin: 0 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

/* using in menu  */
.d-none{
    display: none;
}

.bc-white {
    background-color: white !important;
}

.text-white {
    color: white !important;
}
.h2{
    font-size: 2.5rem;
    
}
.stylishfont{
    font-family: POLYA !important;
    font-size: 140px;
    font-weight: 100;
    color: #1c72b8;
    text-align: center;
}

.center {
    text-align: center;
}
.container{
    width: 84%;
    margin: 61px auto 0 auto;
}
.currenturl{
    color: #1c72b8;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.mainnavparagrah{
    font-size: 17px;
    letter-spacing: 1px;
}

.wordspacing{
    word-spacing: 2px;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 0 10px;
    text-align: center;
}
@media screen and (max-width:1082px){
    .stylishfont{
        font-size:12vw;
    }
}

@font-face {
    font-family: POLYA;
    src: url("./POLYA.otf") format("opentype");
}