.modelpopup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0 0 0 0;
    z-index: 14;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(0.5rem);
    transition: 1s;
    flex-direction: column;
}

.cross-close {
    width: min(90%, 620px);
    justify-content: right;
    display: flex;
    font-size: 24px;
    cursor: pointer;
    color: #1c72b8;
    margin: 0 auto 0 auto;
}

.modelpp {
    width: min(90%, 620px);
    text-align: center;
}

.modelpp h3 {
    font-size: 35px;
    padding-bottom: 10px;
}

.modelpp h4 {
    font-size: 22px;
    padding-bottom: 25px;
}

.modelpp p {
    font-size: 20px
}

.porprgatrion {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin: auto;
    width: min(90%,800px);
    padding: 29px;
    border-radius: 40px;
    border: 2.5px solid black;
}